[submodule "03-SubModules/365Processing"]
	path = 03-SubModules/365Processing
	url = https://github.com/hiddenenigma/365Processing.git
[submodule "03-SubModules/GenerateMe"]
	path = 03-SubModules/GenerateMe
	url = https://github.com/tsulej/GenerateMe.git
[submodule "03-SubModules/Code-Package-Processing-3.x"]
	path = 03-SubModules/Code-Package-Processing-3.x
	url = https://github.com/generative-design/Code-Package-Processing-3.x.git
[submodule "03-SubModules/Processing"]
	path = 03-SubModules/Processing
	url = https://github.com/v3ga/Processing.git
[submodule "03-SubModules/ASDFPixelSort"]
	path = 03-SubModules/ASDFPixelSort
	url = https://github.com/kimasendorf/ASDFPixelSort.git
[submodule "03-SubModules/PixelSorting"]
	path = 03-SubModules/PixelSorting
	url = https://github.com/jeffThompson/PixelSorting
